USE [master]
GO
/****** Object:  Database [ProyectoProg3]    Script Date: 24/11/2021 08:51:18 ******/
CREATE DATABASE [ProyectoProg3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoProg3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProyectoProg3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoProg3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProyectoProg3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoProg3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoProg3]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[CodArticulo] [int] IDENTITY(1,1) NOT NULL,
	[NombreArticulo] [varchar](25) NULL,
	[Descripcion] [varchar](50) NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
	[Estado] [bit] NULL,
	[CodCategoria] [int] NULL,
	[Stock] [int] NULL,
	[ImagenUrl] [varchar](50) NULL,
	[CodProveedor] [int] NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[CodArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carritos]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carritos](
	[CodCarrito] [int] IDENTITY(1,1) NOT NULL,
	[CodUsuario] [int] NOT NULL,
	[CodArticulo] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[SubTotal] [decimal](10, 2) NOT NULL,
	[Comprado] [bit] NOT NULL,
 CONSTRAINT [PK_Carritos] PRIMARY KEY CLUSTERED 
(
	[CodCarrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CodCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](50) NULL,
	[Descripcion] [varchar](100) NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[CodCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleDeVentas]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleDeVentas](
	[Cod_DetalleVenta_DV] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Venta_DV] [int] NOT NULL,
	[Cod_Articulo_DV] [int] NOT NULL,
	[Cantidad_DV] [int] NOT NULL,
	[PrecioUnitario_DV] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DetalleDeVentas] PRIMARY KEY CLUSTERED 
(
	[Cod_DetalleVenta_DV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidades]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidades](
	[IdLocalidad] [int] NOT NULL,
	[NombreLocalidad] [varchar](30) NOT NULL,
	[IdProvincia] [int] NOT NULL,
 CONSTRAINT [PK_LOCALIDAD] PRIMARY KEY CLUSTERED 
(
	[IdLocalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Cod_Proveedor_Pr] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial_Pr] [varchar](25) NULL,
	[Marca_Pr] [varchar](25) NULL,
	[Direccion_Pr] [varchar](25) NULL,
	[Ciudad_Pr] [varchar](25) NULL,
	[Provincia_Pr] [varchar](25) NULL,
	[Cuit_Pr] [varchar](25) NULL,
	[Telefono_Pr] [varchar](25) NULL,
	[Contacto_Pr] [varchar](25) NULL,
	[Web_Pr] [varchar](25) NULL,
	[Email_Pr] [varchar](25) NULL,
	[CBU_Pr] [varchar](25) NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[Cod_Proveedor_Pr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[IdProvincia] [int] NOT NULL,
	[NombreProvincia] [varchar](25) NOT NULL,
 CONSTRAINT [PK_PROVINCIAS] PRIMARY KEY CLUSTERED 
(
	[IdProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Apellido] [varchar](25) NOT NULL,
	[Provincia] [varchar](25) NOT NULL,
	[Celular] [varchar](25) NOT NULL,
	[Dni] [varchar](25) NOT NULL,
	[Direccion] [varchar](25) NOT NULL,
	[Email] [varchar](50) NULL,
	[Contrasena] [varchar](50) NULL,
	[TipoUsuario] [bit] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Cod_Venta_V] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Cliente_V] [int] NOT NULL,
	[TotalFactura_V] [decimal](10, 2) NULL,
	[FechaFactura_V] [datetime] NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[Cod_Venta_V] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulos] ON 

INSERT [dbo].[Articulos] ([CodArticulo], [NombreArticulo], [Descripcion], [PrecioUnitario], [Estado], [CodCategoria], [Stock], [ImagenUrl], [CodProveedor]) VALUES (1, N'RAM', N'MEMORIA 4GB DDR4 2666 KINGSTON FURY BEAST', CAST(3550.00 AS Decimal(10, 2)), 1, 1, 120, N'/Imagenes/img1.jpg', NULL)
INSERT [dbo].[Articulos] ([CodArticulo], [NombreArticulo], [Descripcion], [PrecioUnitario], [Estado], [CodCategoria], [Stock], [ImagenUrl], [CodProveedor]) VALUES (2, N'Monitor', N'MONITOR 24" SAMSUNG CF390 CURVO FREESYNC', CAST(29000.00 AS Decimal(10, 2)), 1, 2, 120, N'/Imagenes/img2.jpg', NULL)
INSERT [dbo].[Articulos] ([CodArticulo], [NombreArticulo], [Descripcion], [PrecioUnitario], [Estado], [CodCategoria], [Stock], [ImagenUrl], [CodProveedor]) VALUES (3, N'Auriculares', N'AURICULARES HYPERX CLOUD FLIGHT WIRELESS', CAST(12800.00 AS Decimal(10, 2)), 1, 3, 100, N'/Imagenes/img3.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Articulos] OFF
GO
SET IDENTITY_INSERT [dbo].[Carritos] ON 

INSERT [dbo].[Carritos] ([CodCarrito], [CodUsuario], [CodArticulo], [Descripcion], [Precio], [Cantidad], [SubTotal], [Comprado]) VALUES (8, 1, 2, N'MONITOR 24" SAMSUNG CF390 CURVO FREESYNC', CAST(29000.00 AS Decimal(10, 2)), 1, CAST(29000.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Carritos] ([CodCarrito], [CodUsuario], [CodArticulo], [Descripcion], [Precio], [Cantidad], [SubTotal], [Comprado]) VALUES (13, 1, 3, N'AURICULARES HYPERX CLOUD FLIGHT WIRELESS', CAST(12800.00 AS Decimal(10, 2)), 2, CAST(25600.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Carritos] ([CodCarrito], [CodUsuario], [CodArticulo], [Descripcion], [Precio], [Cantidad], [SubTotal], [Comprado]) VALUES (14, 6, 3, N'AURICULARES HYPERX CLOUD FLIGHT WIRELESS', CAST(12800.00 AS Decimal(10, 2)), 120, CAST(1536000.00 AS Decimal(10, 2)), 0)
SET IDENTITY_INSERT [dbo].[Carritos] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([CodCategoria], [NombreCategoria], [Descripcion]) VALUES (1, N'Memorias RAM', N'Contiene los tipos de memorias ram')
INSERT [dbo].[Categorias] ([CodCategoria], [NombreCategoria], [Descripcion]) VALUES (2, N'Monitores', N'Contiene los tipos de monitores')
INSERT [dbo].[Categorias] ([CodCategoria], [NombreCategoria], [Descripcion]) VALUES (3, N'AURICULARES', N'Contiene los tipos de auriculares')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
INSERT [dbo].[Localidades] ([IdLocalidad], [NombreLocalidad], [IdProvincia]) VALUES (1, N'CABA', 1)
INSERT [dbo].[Localidades] ([IdLocalidad], [NombreLocalidad], [IdProvincia]) VALUES (2, N'Mar del Plata', 1)
INSERT [dbo].[Localidades] ([IdLocalidad], [NombreLocalidad], [IdProvincia]) VALUES (3, N'Cordoba', 2)
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([Cod_Proveedor_Pr], [RazonSocial_Pr], [Marca_Pr], [Direccion_Pr], [Ciudad_Pr], [Provincia_Pr], [Cuit_Pr], [Telefono_Pr], [Contacto_Pr], [Web_Pr], [Email_Pr], [CBU_Pr]) VALUES (1, N'Logitech Srl', N'Logitech', N'Corrientes 156', N'CABA', N'Córdoba', N'3045987', N'13', N'1', N'www.Logitech.com', N'lg@gmail.com', N'888888888')
INSERT [dbo].[Proveedores] ([Cod_Proveedor_Pr], [RazonSocial_Pr], [Marca_Pr], [Direccion_Pr], [Ciudad_Pr], [Provincia_Pr], [Cuit_Pr], [Telefono_Pr], [Contacto_Pr], [Web_Pr], [Email_Pr], [CBU_Pr]) VALUES (2, N'Kingston SA', N'Kingston', N'berutti 552', N'CABA', N'Buenos Aires', N'30741589246', N'1545635214', N'Daniel Perez', N'www.kingston.com', N'kingston@gmail.com', N'9999999999')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
INSERT [dbo].[Provincias] ([IdProvincia], [NombreProvincia]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[Provincias] ([IdProvincia], [NombreProvincia]) VALUES (2, N'Cordoba')
INSERT [dbo].[Provincias] ([IdProvincia], [NombreProvincia]) VALUES (3, N'Santa Fe')
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdCliente], [Nombre], [Apellido], [Provincia], [Celular], [Dni], [Direccion], [Email], [Contrasena], [TipoUsuario]) VALUES (5, N'Pedro', N'Perez', N'Buenos Aires', N'1234567', N'1111', N'Calle 1234', N'PP@gmail.com', N'1234', 1)
INSERT [dbo].[Usuarios] ([IdCliente], [Nombre], [Apellido], [Provincia], [Celular], [Dni], [Direccion], [Email], [Contrasena], [TipoUsuario]) VALUES (6, N'Juan', N'Rodriguez', N'Victoria', N'415236', N'2222', N'Calle 4253', N'JR@gmail.com', N'4567', 0)
INSERT [dbo].[Usuarios] ([IdCliente], [Nombre], [Apellido], [Provincia], [Celular], [Dni], [Direccion], [Email], [Contrasena], [TipoUsuario]) VALUES (7, N'Martin', N'Lorenzo', N'Entre Rios', N'1512364563', N'3333', N'Berutti 1234', N'ml@gmail.com', N'martin', 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Cod_Venta_V], [Cod_Cliente_V], [TotalFactura_V], [FechaFactura_V]) VALUES (3, 5, CAST(13999.00 AS Decimal(10, 2)), CAST(N'1999-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Ventas] ([Cod_Venta_V], [Cod_Cliente_V], [TotalFactura_V], [FechaFactura_V]) VALUES (4, 5, CAST(19999.00 AS Decimal(10, 2)), CAST(N'2021-11-23T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
ALTER TABLE [dbo].[DetalleDeVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleDeVentas_Articulos] FOREIGN KEY([Cod_Articulo_DV])
REFERENCES [dbo].[Articulos] ([CodArticulo])
GO
ALTER TABLE [dbo].[DetalleDeVentas] CHECK CONSTRAINT [FK_DetalleDeVentas_Articulos]
GO
ALTER TABLE [dbo].[DetalleDeVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleDeVentas_Ventas] FOREIGN KEY([Cod_Venta_DV])
REFERENCES [dbo].[Ventas] ([Cod_Venta_V])
GO
ALTER TABLE [dbo].[DetalleDeVentas] CHECK CONSTRAINT [FK_DetalleDeVentas_Ventas]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Usuarios] FOREIGN KEY([Cod_Cliente_V])
REFERENCES [dbo].[Usuarios] ([IdCliente])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Usuarios]
GO
/****** Object:  StoredProcedure [dbo].[spActualizarArticulo]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarArticulo]
(	
	@CODART INT,
	@NOMART VARCHAR(25),
	@DESC VARCHAR(50),
	@PU DECIMAL (8,2),
	@ESTADO BIT,
	@CODCAT INT,
	@STOCK INT,
	@CODPROV INT
)
AS
UPDATE Articulos
SET
NombreArticulo = @NOMART,
Descripcion = @DESC,
PrecioUnitario= @PU,
Estado = @ESTADO,
CodCategoria = @CODCAT, 
Stock = @STOCK, 
CodProveedor = @CODPROV
WHERE CodArticulo = @CODART
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spActualizarCarrito]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarCarrito]
(
	@COD_CARRITO INT,
	@CANTIDAD INT
)
AS
	UPDATE Carritos 
	SET Cantidad = @CANTIDAD, SubTotal = Precio * @CANTIDAD
	WHERE CodCarrito = @COD_CARRITO
GO
/****** Object:  StoredProcedure [dbo].[spActualizarCategoria]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarCategoria]
(	
	@CODCAT INT,
	@NOMCAT VARCHAR(50),
	@DESC VARCHAR(100)
)
AS
UPDATE Categorias set
NombreCategoria = @NOMCAT,
Descripcion = @DESC
WHERE CodCategoria = @CODCAT
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spActualizarProveedor]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spActualizarProveedor]
(
	@CODPROV INT,
	@RSOCIAL VARCHAR(25),
	@MARCA VARCHAR(25),
	@DIRECCION VARCHAR(25),
	@CIUDAD VARCHAR(25),
	@PROV VARCHAR(25),
	@CUIT VARCHAR(25),
	@TELEFONO VARCHAR(25),
	@CONTACTO VARCHAR(25),
	@WEB VARCHAR(25),
	@EMAIL VARCHAR(25),
	@CBU VARCHAR(25)
)
AS
	UPDATE Proveedores SET
	RazonSocial_Pr = @RSOCIAL,
	Marca_Pr = @MARCA,
	Direccion_Pr = @DIRECCION,
	Ciudad_Pr = @CIUDAD,
	Provincia_Pr = @PROV,
	Cuit_Pr = @CUIT,
	Telefono_Pr = @TELEFONO,
	Contacto_Pr = @CONTACTO,
	Web_Pr = @WEB,
	Email_Pr = @EMAIL,
	CBU_Pr = @CBU
WHERE Cod_Proveedor_Pr = @CODPROV
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spActualizarUsuario]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarUsuario]
(
	@IDCLIENTE INT,
	@NOMBRE VARCHAR(25),
	@APELLIDO VARCHAR(25),
	@PROVINCIA VARCHAR(25),
	@CELULAR VARCHAR(25),
	@DNI VARCHAR(25),
	@DIRECCION VARCHAR(25),
	@EMAIL VARCHAR(50),
	@CONTRASENA VARCHAR(50),
	@TIPOU BIT
)
AS
	UPDATE Usuarios SET
	Nombre = @NOMBRE,
	Apellido = @APELLIDO,
	Provincia = @PROVINCIA,
	Celular = @CELULAR,
	Dni = @DNI,
	Direccion = @DIRECCION,
	Email = @EMAIL,
	Contrasena = @CONTRASENA,
	TipoUsuario = @TIPOU
WHERE IdCliente = @IDCLIENTE
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spActualizarVenta]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarVenta]
(
	@CODVENTA INT,
	@CODCLIENTE INT,
	@TOTALFACT DECIMAL,
	@FECHAVTA DATE
)
AS
UPDATE Ventas
SET
TotalFactura_V = @TOTALFACT,
FechaFactura_V = @FECHAVTA
WHERE Cod_Venta_V = @CODVENTA AND Cod_Cliente_V = @CODCLIENTE
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spAgregarArticulo]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarArticulo]
(
	@NOMBREARTICULO varchar(25),
	@DESCRIPCION VARCHAR(25),
	@PRECIOUNITARIO DECIMAL(8,2),
	@ESTADO BIT = true,
	@IDCATEGORIA INT,
	@STOCK INT,
	@CODPROVEEDOR INT
)
AS
	INSERT INTO Articulos(NombreArticulo,Descripcion,PrecioUnitario,Estado,CodCategoria,Stock,CodProveedor)
	VALUES(@NOMBREARTICULO,@DESCRIPCION,@PRECIOUNITARIO,@ESTADO,@IDCATEGORIA,@STOCK,@CODPROVEEDOR)
GO
/****** Object:  StoredProcedure [dbo].[spAgregarCarrito]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarCarrito]
(
	@USUARIO INT,
	@ARTICULO INT,
	@DESCRIPCION VARCHAR(50),
	@PRECIO DECIMAL(10,2),
	@CANTIDAD INT,
	@SUBTOTAL DECIMAL(10,2),
	@COMPRADO BIT
)
AS
	INSERT INTO Carritos (CodUsuario,CodArticulo,Descripcion,Precio,Cantidad,SubTotal,Comprado)
	SELECT @USUARIO,@ARTICULO,@DESCRIPCION,@PRECIO,@CANTIDAD,@SUBTOTAL,@COMPRADO
GO
/****** Object:  StoredProcedure [dbo].[spAgregarCategoria]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spAgregarCategoria]
(
	@NOMCAT VARCHAR(50),
	@DESCRIPCION VARCHAR(100)
)
AS

INSERT INTO Categorias(NombreCategoria,Descripcion)
	VALUES(@NOMCAT,@DESCRIPCION)
GO
/****** Object:  StoredProcedure [dbo].[spAgregarProveedor]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarProveedor]
@RazonSocial varchar(25),
@Marca varchar(25),
@Direccion varchar(25),
@Ciudad varchar(25),
@Provincia varchar(25),
@Cuit varchar(25),
@Telefono varchar(25),
@Contacto varchar(25),
@Web varchar(25),
@Email varchar(25),
@Cbu varchar(25)
AS
	INSERT INTO Proveedores(RazonSocial_Pr,Marca_Pr,Direccion_Pr,Ciudad_Pr,Provincia_Pr,Cuit_Pr,Telefono_Pr,Contacto_Pr,Web_Pr,Email_Pr,CBU_Pr)
	VALUES (@RazonSocial, @Marca, @Direccion,@Ciudad,@Provincia,@Cuit,@Telefono,@Contacto,@Web,@Email,@Cbu)
GO
/****** Object:  StoredProcedure [dbo].[spAgregarVenta]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarVenta]
(
	@CodCliente int,
	@TotalFactura decimal(8,2),
	@FechaFactura datetime
)
AS
	INSERT INTO Ventas (Cod_Cliente_V, TotalFactura_V, FechaFactura_V)
	VALUES (@CodCliente,@TotalFactura,@FechaFactura)
GO
/****** Object:  StoredProcedure [dbo].[spBuscarArticulo]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBuscarArticulo]
(
	@CODARTICULO INT
)
AS
BEGIN
	SELECT * FROM Articulos WHERE  CodArticulo = @CODARTICULO
END
GO
/****** Object:  StoredProcedure [dbo].[spBuscarCategoria]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBuscarCategoria]
(
	@NOMBRECATEGORIA NVARCHAR(20)
)
AS
BEGIN
	SELECT * FROM Categorias WHERE NombreCategoria = @NOMBRECATEGORIA
END
GO
/****** Object:  StoredProcedure [dbo].[spEliminarArticulo]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarArticulo]
(
	@CODCARTICULO INT
)
AS
BEGIN
	delete from Articulos where CodArticulo = @CODCARTICULO
END
GO
/****** Object:  StoredProcedure [dbo].[spEliminarCarrito]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarCarrito]
(
	@COD_CARRITO int
)
AS
	DELETE FROM Carritos WHERE CodCarrito = @COD_CARRITO
GO
/****** Object:  StoredProcedure [dbo].[spEliminarCategoria]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarCategoria]
(
	@CODCATEGORIA INT
)
AS
BEGIN
	DELETE FROM Categorias WHERE CodCategoria = @CODCATEGORIA
END
GO
/****** Object:  StoredProcedure [dbo].[spEliminarProveedor]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spEliminarProveedor]
(
	@CodProveedor int
)
AS
	DELETE FROM Proveedores where Cod_Proveedor_Pr = @CodProveedor
GO
/****** Object:  StoredProcedure [dbo].[spEliminarVenta]    Script Date: 24/11/2021 08:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarVenta]
(
	@CodVenta int
)
AS
	DELETE FROM Ventas where Cod_Venta_V = @CodVenta
GO
USE [master]
GO
